[flake8]
exclude =
    .git,
    .venv,
    .tox,
    .hypothesis,
    .github,
    .circlci,
    dist,
    pysketcher.egg-info,
    test-results,
    # unmigrated examples
    examples/ForwardEuler_comic_strip.py,
    examples/integral_comic_strip.py,
    examples/pendulum2.py
max-line-length = 80
select = B,B9,B950,BLK,C,D,DAR,E,F,I,S,W
ignore = E203, E501, W503, D107
application-import-names = pysketcher,tests
import-order-style = google
per-file-ignores =
    examples/*:S101,D100,D101,D102,D103,D104,D107
    docs/*:S101,D100,D101,D102,D103,D104,D107
    tests/*:S101,D100,D101,D102,D103,D104,D107
    tests/utils/*:S101,D100,D101,D102,D103,D104,D107
    noxfile.py:D100,D101,D102,D103
    pysketcher/backend/*:D100,D101,D102,D103,D104,D105
    pysketcher/_builder/*:D100,D101,D102,D103,D104,D105
    pysketcher/type_checking/*:D100,D101,D102,D103,D104,D105
docstring-convention = google
