[flake8]
exclude =
    .git,
    .venv,
    .tox,
    .hypothesis,
    .github,
    .circlci,
    dist,
    pysketcher.egg-info,
    test-results,
    # unmigrated examples
    examples/ForwardEuler_comic_strip.py,
    examples/integral_comic_strip.py,
    examples/pendulum2.py
max-line-length = 80
select = B,B9,BLK,C,E,F,I,W,B,B950,S
ignore = E203, E501, W503
application-import-names = pysketcher,tests
import-order-style = google
per-file-ignores = tests/*:S101
