# .github/workflows/release.yml
name: Release
on:
  release:
    types: [published]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v1
    - uses: FedericoCarboni/setup-ffmpeg@v1
      with:
        python-version: '3.8'
        architecture: x64
    - run: pip install nox==2020.12.31
    - run: pip install nox-poetry==0.7.1
    - run: pip install poetry==1.1.4
    - run: nox
    - run: poetry build
    - run: poetry publish --username=__token__ --password=${{ secrets.PYPI_TOKEN }}
